---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Wilde</h1>
			<p>一名热爱编程和学习的工程师。</p>
			<p>全栈工程师。</p>
			<p>这是我的博客。</p>
		</main>
		<Footer />
	</body>
</html>
